In [3]:
import pandas as pd

pd.options.display.float_format = '{:,.2f}'.format

pd.options.display.max_rows = 200
pd.options.display.max_columns = 100

df = pd.read_csv('/home/bizviz/Downloads/BNC2_sample.csv',names=['Code','Date','Open','High','Low','Close','Volume','VWAP','TWAP'])

df.head()

      Code        Date   Open   High    Low  Close     Volume   VWAP   TWAP
0  GWA_BTC  2014-04-01 467.28 488.62 467.28 479.56  74,776.48 482.76 482.82
1  GWA_BTC  2014-04-02 479.20 494.30 431.32 437.08 114,052.96 460.19 465.93
2  GWA_BTC  2014-04-03 437.33 449.74 414.41 445.60  91,415.08 432.29 433.28
3  GWA_BTC  2014-04-04 445.18 456.10 429.16 449.81  51,147.27 443.46 443.93
4  GWA_BTC  2014-04-05 450.08 464.09 445.16 461.70  28,449.19 452.53 452.95

In [4]:
print( df.Code.unique() )

['GWA_BTC' 'GWA_ETH' 'GWA_LTC' 'GWA_XLM' 'GWA_XRP' 'MWA_BTC_CNY'
 'MWA_BTC_EUR' 'MWA_BTC_GBP' 'MWA_BTC_JPY' 'MWA_BTC_USD' 'MWA_ETH_CNY'
 'MWA_ETH_EUR' 'MWA_ETH_GBP' 'MWA_ETH_JPY' 'MWA_ETH_USD' 'MWA_LTC_CNY'
 'MWA_LTC_EUR' 'MWA_LTC_GBP' 'MWA_LTC_JPY' 'MWA_LTC_USD' 'MWA_XLM_CNY'
 'MWA_XLM_EUR' 'MWA_XLM_USD' 'MWA_XRP_CNY' 'MWA_XRP_EUR' 'MWA_XRP_GBP'
 'MWA_XRP_JPY' 'MWA_XRP_USD']

In [5]:
df[df.Code.isin(['GWA_BTC','MWA_BTC_JPY','MWA_BTC_EUR',])] & (df.Date == '2018-01-01')

TypeError: cannot compare a dtyped [float64] array with a scalar of type [bool]

In [6]:
df[df.Code.isin(['GWA_BTC','MWA_BTC_JPY','MWA_BTC_EUR',]) & (df.Date == '2018-01-01')]

,Code,Date,Open,High,Low,Close,Volume,VWAP,TWAP
1371,GWA_BTC,2018-01-01,"14,505.89","14,505.89","13,617.46","14,092.74","225,906.21","14,103.18","14,093.73"
9074,MWA_BTC_EUR,2018-01-01,"11,859.35","11,859.35","11,111.07","11,403.92","14,933.73","11,488.45","11,478.08"
11838,MWA_BTC_JPY,2018-01-01,"1,674,341.45","1,678,567.55","1,572,173.90","1,632,657.51","68,611.95","1,632,994.40","1,631,407.66"

In [7]:
print('Before : ',len(df))

Before :  31761

In [8]:
gwa_codes = [code for code in df.Code.unique() if 'GWA_' in code]

In [9]:
df = df[df.Code.isin(gwa_codes)]

In [11]:
print('After : ',len(df))

After :  6309

In [15]:
pivoted_df = df.pivot(index='Date',columns='Code',values='VWAP')

In [16]:
pivoted_df.tail()

Code         GWA_BTC  GWA_ETH  GWA_LTC  GWA_XLM  GWA_XRP
Date
2018-01-19 11,826.36 1,068.45   195.00     0.51     1.82
2018-01-20 13,062.68 1,158.71   207.58     0.52     1.75
2018-01-21 12,326.23 1,108.90   197.36     0.48     1.55
2018-01-22 11,397.52 1,038.21   184.92     0.47     1.43
2018-01-23 10,921.00   992.05   176.95     0.47     1.42

In [18]:
print( pivoted_df.tail(3) )

Code         GWA_BTC  GWA_ETH  GWA_LTC  GWA_XLM  GWA_XRP
Date
2018-01-21 12,326.23 1,108.90   197.36     0.48     1.55
2018-01-22 11,397.52 1,038.21   184.92     0.47     1.43
2018-01-23 10,921.00   992.05   176.95     0.47     1.42

In [21]:
print( pivoted_df.tail(3).shift(1) )

Code         GWA_BTC  GWA_ETH  GWA_LTC  GWA_XLM  GWA_XRP
Date
2018-01-21       nan      nan      nan      nan      nan
2018-01-22 12,326.23 1,108.90   197.36     0.48     1.55
2018-01-23 11,397.52 1,038.21   184.92     0.47     1.43

In [28]:
delta_7 = pivoted_df / pivoted_df.shift(7) - 1.0

In [30]:
delta_7.tail()

Code        GWA_BTC  GWA_ETH  GWA_LTC  GWA_XLM  GWA_XRP
Date
2018-01-19    -0.18    -0.17    -0.18    -0.21    -0.22
2018-01-20    -0.13    -0.19    -0.18    -0.23    -0.29
2018-01-21    -0.15    -0.20    -0.22    -0.22    -0.30
2018-01-22    -0.21    -0.24    -0.24    -0.25    -0.32
2018-01-23    -0.11    -0.12    -0.13    -0.02    -0.04

In [31]:
delta_dict = {}
for offset in [7,14,21,28]:
    delta_dict['delta{}'.format(offset)] = pivoted_df /pivoted_df.shift(offset) - 1.0

In [33]:
melted_7 = delta_7.reset_index().melt(id_vars=['Date'],value_name='delta_7')

In [34]:
melted_7.tail()

            Date     Code  delta_7
6965  2018-01-19  GWA_XRP    -0.22
6966  2018-01-20  GWA_XRP    -0.29
6967  2018-01-21  GWA_XRP    -0.30
6968  2018-01-22  GWA_XRP    -0.32
6969  2018-01-23  GWA_XRP    -0.04

In [35]:
melted_dfs = []
for key, delta_df in delta_dict.items():
    melted_dfs.append(delta_df.reset_index().melt(id_vars=['Date'],value_name=key))

In [36]:
return_df = pivoted_df.shift(-7) / pivoted_df - 1.0

In [39]:
melted_dfs.append( return_df.reset_index().melt(id_vars=['Date'], value_name='return_7') )